<h1>Want to be stronger than ever before?</h1>
<p>There's a reason people look up to Batman, Spiderman, Captain America, and every other badass superhero. It's because they're strong.</p>
<p>They're in control of their body. They're in control of their mind.</p>
<p>They are fast, sexy, and can take a beating.</p>
<h2>Do you want to be super-human strong?</h2>
<p>Then you need to start training like a serious Parkour athlete (called a traceur.)</p>
<p>Learn from <a href="http://www.streetstunts.net/wiki/Paul_Mederos">Leon Mederos</a>, a world renowned professional traceur with over 8 years of professional experience. Leon is one of the founding members of the first national professional parkour and freerunning team, <a href="http://tribalmovement.com/">the Tribe</a>. He was there at the beginning of the (now) largest international and most informative Parkour and Freerunning communities, <a href="http://americanparkour.com">AmericanParkour.com</a>.</p>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
	<form action="http://ifreerun.us5.list-manage2.com/subscribe/post?u=1c5b38037d2a4b3d0819f9c89&amp;id=9a1a05700f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
		<label for="mce-EMAIL">Enter your email address here to be the first to receive life-changing workout videos focused on parkour conditioning.</label>
		<% if current_user %> 
			<input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" value="<%= current_user.email %>" required />
		<% else %>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
		<% end %>
		<input type="submit" value="I WANT TO BE AWESOME!" name="subscribe" id="mc-embedded-subscribe" class="button" />
	</form>
</div>

<!--End mc_embed_signup-->