<h1>We are a community centered around helping people grow stronger, both physically and mentally, through Parkour and Freerunning training.</h1>
<ul class="home-nav">
	<li><a href="/what-is-parkour-and-freerunning">What is Parkour and Freerunning?</a></li>
	<li><a href="/map">Where can I find a place to train?</a></li>
	<li><a href="/conditioning">How do I train or workout to get stronger?</a></li>
<ul>
	
<%= javascript_tag do %>
	mixpanel.track('Visited Home page');
<% end unless Rails.env.production? %>