<section class="clearfix">
	<div class="sixteen columns">	
		<h1>Where do you want to run?</h1>
	</div>
	<div class="four columns" style="background:red;">
		<%= link_to "New Community", "#new_community_path" %>
	</div>
</section>