<h2>What is Parkour and Freerunning?</h2>
<p>Parkour is a discipline where its practitioners learn to move throughout their environments safely, efficiently, and gracefully using only their bodies. It's a physical and mental exertion, made to push your limits and open your mind. Control, Repetition, and Progression are key.</p>
<h2>Where did it come from?</h2>
<p>France, from a gentleman by the name of David Belle. It was popularized by his (and his friends') videos online in the early 2000's. It spread throughout Europe fairly quickly in pre-Google/YouTube days. By 2004, it had moved to the United States thanks to a small group of dedicated leaders who founded AmericanParkour.com.</p>
<div class="more-questions">
	<h3>Have more questions? We can answer them.</h3>
	<p>Email your questions to <a href="mailto:hello@ifreerun.com">hello@ifreerun.com</a>, or tweet us <a href="http://twitter.com/ifreeruncom">@ifreeruncom</a>.</p>
	<p>We typically respond within a few minutes.</p>
</div>	

<%= javascript_tag do %>
	mixpanel.track('Visited What Is PK page');
<% end unless !Rails.env.production? %>