/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	font-family: "myriad-pro", sans-serif;
	background: rgba(200,200,200,.2);
}

header {
		
	nav {
		text-align:right;
	}
}

section {
	
	.be-a-traceur {
		width:60%;
		margin: 0 auto;
		display:block;
		text-align:center;
	}
	
	.search {
		
		width:80%;
		margin:0 auto;
		display:block;
		background:rgba(150,150,150,.1);
		padding:1em;
		border:1px solid rgba(0,0,0,.1);
		box-shadow:0 1px 1px rgba(0,0,0,.2);
		z-index:10;
		
		form {
			margin:0;
		}
		
		input {
			margin:0;
			padding:.6em;
			font-size:1.2em;
			display:inline-block;
			
			&[type="text"] {
				width:60%;
			}
			&[type="submit"] {
				width:36%;
			}
		}
		
		i {
			font-style:italic;
			position:relative;
			top:.5em;
			left:.5em;
		}
	}
	
	.results {
		position:relative;
		top:1em;
		
		.sidebar {
			float:left;
			width:35%;
			background:rgba(230,230,230,.1);
			padding:1em;
			border:1px solid rgba(0,0,0,.1);
			box-shadow:0 1px 1px rgba(0,0,0,.2);
			height:384px;
			overflow:none;
			overflow-x:scroll;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
		}
		.map {
			z-index:5;
			float:left;
			width:100%;
		
			&.small-map {
				width:60%;
			}
		}
	}
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header {
			padding-bottom:1.3em;
		}
		section {
			.be-a-traceur {
				width:96%;
			}
			
			h1 {
				font-size:1.5em;
				line-height:1.2;
			}
			
			.search {
				width:96%;
				
				input {
					margin:0;
					padding:.6em;
					font-size:1.2em;
					display:inline-block;

					&[type="text"] {
						width:93%;
						margin-bottom:.5em;
					}
					&[type="submit"] {
						width:100%;
					}
				}
			}
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}