<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
	<title>Parkour / Freerunning communities and hotspots around the world | iFreerun.com</title>
	<meta name="description" content="Find Parkour and Freerunning communities and hotspots around the world. Meet with locals to learn parkour and freerunning.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag 'gmaps4rails' %>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	
	
	<script type="text/javascript" src="http://use.typekit.com/qjx3pqq.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<!-- start Mixpanel -->
	<% if Rails.env.production? %>
		<script type="text/javascript">
			(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" "); for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,window.mixpanel||[]);
			mixpanel.init("689533ec020050d9e2d898558e4821af");
		</script><!-- end Mixpanel -->
	<% end %>
	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>