<%= render 'layouts/declarations' %>

<body>
	
	<div class="container content">
		<%= render 'layouts/header' %>
		<%= yield %>		
	</div><!-- container -->
	
	<% render 'layouts/footer' %>
	<%= yield :scripts %> 

</body>
</html>
